*{
	margin:0;
	margin:0;
}
body{
	background: #fff;
}
ul ,li{
	list-style: none;
}
a{
	text-decoration:none;
	color:#333;
}
i,em{
	font-style: normal;
}
img{
	vertical-align: top;
}
.clearfix:after{
	content: '';
	height: 0;
	display: block;
	clear: both;
}
#shortcut{
	width: 100%;
	border-bottom:1px solid #eee;
	background-color:#f5f5f5;
}
.wrapper{
	height: 35px;
	line-height: 35px;
	color:#999;
	margin:auto;
	width: 1190px;
}
.ng-toolbar-left{
	height: 100%;
	line-height: 35px;
	float: left;
}
.ng-toolbar-right{
	height: 100%;
    float: right;
    line-height: 35px;
}
.ng-toolbar-left div,.ng-toolbar-right div{
	float: left;
}
.cw-icon{
	font-size: 12px;
	font-weight:400;
	position: relative;
	z-index: 20;
	margin-left: -1px;
}
.box{
	margin-top:1px;
	height: 31px;
	line-height: 31px;
	padding: 0 8px;
	border:1px solid transparent;
	margin-left: 3px;
}
.cw-icon a{
	color:#919191;
	padding-left: 2px;
}
.cw-icon span{
	width: 46px;
	height: 35px;
	line-height: 35px;
}
em{
	display: inline-block;
	width: 16px;
	height: 35px;
	line-height: 35px;
	transition:all .5s;
}
.cw-icon:hover .box{
	height: 33px;
	line-height: 33px;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	background-color: #fff;
}
.dt a{
	cursor: default;
}
i.home{
	display:inline-block;
	font-size: 16px;
	margin-right: 3px;
	line-height: 35px;
}
i.down{
	display: inline-block;
    font-size: 16px;
    color: #bbb;
    margin-left: 3px;
    vertical-align: middle;
    -webkit-transform-origin:50% 50%;
    transition: transform .2s ease-in;
}
i.cart{
	float: left;
    margin: 0 1px 0 0;
    font-size: 14px;
    width: 16px;
    line-height: 35px;
    color:#ff6804;
    padding-top: 2px;
}
.dt:hover a.dta{
	color:#333;
}
i.con{
	font-size: 16px;
    color: #ffd200;
    text-decoration: none;
    margin-left: 2px;
    line-height: 27px;
}
.ng-close{
	float: left;
	display: inline-block;
	color:#666;
	position: absolute;
	width: 31px;
	height:35px; 
	right: 1px;
	top:1px;
	transition: transform .2s;
	text-align: center;
}
.ng-close i{
	display: inline-block;
	width: 31px;
	height: 35px;
	font-size: 22px;
	cursor: pointer;
}
.ng-close:hover i.guanbi{
	color:#f60;
	transform-origin:50% 50%;
  	transform:rotate(-180deg);
  	transition: transform .2s;
}
.login{
	padding-top: 1px;
	position: relative;
}
.userNames{
	display: inline-block;
	border:1px solid transparent;
	border-bottom:0;
	border-top:0;
}
.ng-first-list{
	border:1px solid #ddd;
	border-top:0;
	position: absolute;
	left:8px;
	top:34px;
	display: none;
}
.ng-first-list a:hover{
	color:#f60;
}
.ng-first-list ul{
	padding:0 16px;
}
.login:hover a{
	border-color: #ddd;
	background-color: #fff;
}
.login:hover .ng-first-list{
	display: block;
}
.node:hover a.dta span{
	color:#ff6804;
}
.cw-icon:hover em{
	transform-origin:50% 50%;
  	transform:rotate(-180deg);
  	transition: all .5s;
}
div.ng-sn-site-nav{
	width: 998px;
	padding:20px 0;
	display: none;
	z-index: 900;
}
.cw-icon:hover div.ng-sn-site-nav{
	display: block;
}
.cw-icon:hover i.home{
	color:#f60;
}
div.shop-center-child{
	width: 162px;
    padding-top: 5px;
    left: 3px;
    right: auto;
    display: none;
}
.cw-icon:hover div.shop-center-child{
	display: block;
}
.ng-down-box a{
	display: block;
    margin-top: -5px;
	padding-left:21px;
	float: left;
}
.book a{
	display: inline-block;
	height: 30px;
	width: 59px;
}
.ng-down-box{
	padding-bottom: 5px;
}
.ng-down-box a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    width: 71px;
}
.ng-d-box{
	position: absolute;
	top:36px;
	left:3px;
	border:1px solid #ddd;
	border-top:0;
	background:#fff;
}
.sn-site-list{
	float: left;
	width: 176px;
	border-right:1px solid #eee;
	padding-left: 20px;
}
.rnb{
	border-right:0;
}
.sn-site-list dt{
	height: 25px;
	width: 100%;
	font-size: 14px;
	line-height: 17px;
	color:#333;
}
.sn-site-list dd{
	width: 100%;
	overflow:hidden;
}
.sn-site-list dd p{
	float: left;
	height: 25px;
	width: 78px;
	line-height: 25px;
}
.sn-site-list dd p a{
	position: relative;
	display: inline-block;
}
.sn-site-list dd p a:hover,.ng-down-box a:hover{
	color:#f60;
}
i.hot{
	position: absolute;
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url(https://res.suning.cn/public/v3/css/images/npbg.png?v=2015102601) no-repeat;
    right: -18px;
    top: 0;
	background-position: 0 -205px;
}
.use{
	padding-top: 2px;
}
.myorder-child{
	padding-bottom: 5px;
	display: none;
}
.cw-icon:hover div.myorder-child{
	display: block;
}
.mysuning-child{
	width: 162px;
	display: none;
}
.cw-icon:hover div.mysuning-child{
	display: block;
}
.mysuning-infor{
	width: 142px;
    height: 56px;
    margin: 5px 10px;
    overflow: hidden;
}
.mysuning-infor a.headimg{
	float: left;
    width: 54px;
    height: 54px;
    border: 1px solid #f7f7f7;
    padding: 0;
}
.mysuning-infor a.headimg img{
	display: block;
    width: 54px;
    height: 54px;
}
.mysuning-detail{
	float: left;
	width: 86px;
	height: 56px;
}
.mysuning-detail a{
	display: block;
    margin-left: 20px;
    line-height: 28px;
    float: none;
    padding: 0;
    width: 64px;
    word-break: break-all;
}
.mysuning-detail a.login{
	height: 28px;
	overflow:hidden;
}
.mysuning-detail a.username{
	display: none;
	height: 28px;
	overflow:hidden;
}
.mysuning-detail a.daka{
	height: 22px;
    text-align: center;
    color: #FFF;
    line-height: 22px;
    background: #F60;
    border-radius: 4px;
}
.cart-child{
	width: 280px;
    height: 400px;
    background: #fff;
    overflow: hidden;
    padding-bottom: 0;
    font-size: 12px;
    display: none;
}
.cart-loading {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    height: 176px;
    background: url(../img/sidebar-loading.gif) center center no-repeat;
    text-align: center;
}
.cw-icon:hover div.cart-child{
	display: block;
}
.ng-mb-box{
	right: 0;
	left:auto;
	width: 540px;
	height: 220px;
	overflow: hidden;
	display: none;
}
.cw-icon:hover div.ng-mb-box{
	display: block;
	z-index: 100;
}
.ng-app-code{
	width: 100%;
	height: 100%;
	margin-left: -41px;
}
.ng-app-code li{
	float: left;
	width: 180px;
	margin:17px 0 0;
	list-style: none;
}
.ng-app-code li:nth-child(2){
	position: relative;
}
.top-code{
	display: block;
	width: 147px;
	height: 147px;
	margin:0 auto 10px;
	vertical-align: top;
}
.ng-app-code li p{
	width: 180px;
	height: 14px;
	line-height: 14px;
	overflow:hidden;
	text-align: center;
	color:#666;
}
.aoyun-text{
	display: inline-block;
	width: 151px;
	height: 16px;
	margin:5px 14px;
}
.line{
	width: 1px;
	height: 97px;
	background-color: #ccc;
}
.line1{
	position: absolute;
	left:0px;
	top:32px;
}
.line2{
	position: absolute;
	right:0px;
	bottom: 55px;
}
/*logo+input*/
.cart-header{
	width: 100%;
	background-color: #fff;
}
.cart-header-box{
	width: 1190px;
	margin:0 auto;
	margin-bottom:24px;
}
.g-logo{
	position: relative;
	float: left;
	width: 400px;
	height: 100px;
}
.g-logo img{
	margin-top:20px;
}
.cart-search{
	position: relative;
	float: right;
	width: 400px;
	margin-top:34px;
	z-index: 10;
}
.cart-search-box{
	float: left;
	width: 318px;
	height: 28px;
	border:2px solid #f50;
	border-right:0 none;
}
.search-icon{
	float: left;
	display: inline-block;
	width: 13px;
	height: 13px;
	margin:8px 0 0 11px;
	background:url(../img/lion-cart.png) no-repeat -200px -70px;
}
.cart-input{
	display: block;
    float: left;
    width: 285px;
    height: 20px;
    line-height: 20px;
    padding: 4px 0;
    margin-left: 9px;
    border: 0;
    background: #fff;
    outline: none;
}
.btn{
	display: inline-block;
	float: left;
    width: 80px;
    height: 32px;
    line-height: 32px;
    background: #f50;
    text-align: center;
    font-size: 14px;
    color: #fff;
   	outline: none;
   	cursor: pointer;
    border:0;
}
.delivery{
	width: 1190px;
	margin:0 auto;
	height: 34px;
	border-bottom:2px solid #ddd;
	position: relative;
}
.city-select{
	float: left;
	position: relative;
	z-index: 30px;
}
.delivery-desc{
	margin-right: 7px;
	line-height: 24px;
	color:#666;
}
.fl{
	display: block;
	float: left;
	font-size: 12px;
}
.ocity{
	display: inline-block;
	font-size: 12px;
	position: relative;
}
.active{
	z-index: 10;
}
.ocity-toggle{
	display: inline-block;
	color:#333;
	border:1px solid #ccc;
	background: #fff;
	border-bottom:none;
	box-shadow: 0 1px 1px #ddd;
	line-height: 14px;
	position: relative;
	padding:4px;
}
.city{
	display: inline-block;
	float: left;
}
.arr{
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 5px;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	border-color:#bbb transparent transparent;
	border-style:solid;
    position: relative;
    top: 5px;
}
/*商品信息*/
.cart-bg{
	width: 100%;
}
.cart-wrapper{
	width: 1190px;
	margin:0 auto;
}
.cart-table{
	white-space: nowrap;
	margin-bottom: 23px;
}
.inner-box{
	height: 32px;
	border:1px solid #ddd;
	color:#666; 
}
.shopingcart-thead { 
	position: relative;
	display: block;
	padding: 5px 0; 
	height: 40px; 
	line-height: 40px; 
	background-color: #F5F4F5;
	border: 1px solid #E5E5E5;
}
.shopingcart-thead-box {
    height: 32px;
    line-height: 32px; 
	float: left;
	font-size: 12px;
}
.shopingcart-thead-checkbox { 
	padding-left: 10px; 
	width: 240px; 
}
.shopingcart-thead-checkbox input[type=checkbox] { 
	margin-right: 5px; 
	vertical-align: middle; 
}
.shopingcart-thead-checkbox span { 
	vertical-align: middle; 
}
.shopingcart-thead-goods { 
	width: 218px; 
	text-align: center; 
}
.shopingcart-thead-specs { 
	width: 145px; 
	text-align: center; 
}
.shopingcart-thead-price { 
	width: 153px; 
	text-align: center; 
}
.shopingcart-thead-quantity { 
	width: 130px; 
	text-align: center; 
}
.shopingcart-thead-sum { 
	width: 175px; 
	text-align: center; 
}
.shopingcart-thead-action { 
	width: 100px; 
	text-align: center; 
}
.shopingcart-tbody{
	width: 1190px;
	margin:0 auto;
	position: relative;
}
.promo-location{
	position: absolute;
	left: -49px;
	top:33px;
	width: 52px;
	height: 30px;
	z-index: 50;
}
.promo-bg{
	position: relative;
	display: inline-block;
	width: 50px;
	height: 30px;
	cursor: pointer;
	z-index: 5;
}
.promo-bg span{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 28px;
    border: 1px solid #dfdfdf;
    border-right: 0 none;
    font-size: 12px;
    background: #fff;
    border-radius: 15px 0 0 15px;
    line-height: 28px;
    padding-left: 8px;
    color: #f60;
    z-index: 10;
}
.jiao{
	position: absolute;
    right: -7px;
    top: 50%;
    width: 8px;
    height: 16px;
    margin-top: -8px;
    background: url(../img/lion-cart.png) -200px -48px no-repeat;
}
.look-for{
	display: block;
	position: absolute;
    right: 0;
    bottom: 24px;
    width: 40px;
    height: 30px;
    background: url(../img/lion-cart.png) -161px -88px no-repeat;
}
.m-store{
	position: relative;
    margin-bottom: 100px;
}
.store-title{
	position: relative;
	height: 26px;
	margin-bottom: 7px;
	line-height: 26px;
}
.cart-checkbox{
	position: relative;
	margin-top:5px;
	height: 15px;
	margin:3px 10px 0;
}
.chk-sn-all{
	margin:7px 10px 0 1px;
	height: 13px;
	float: left;
}
.lion-self-icon{
	float: left;
    margin-top: 4px;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    overflow: hidden;
    background: url(../img/lion-cart.png) no-repeat;
}
.l{
	display: inline-block;
	float: left;
}
.mr{
	margin-right:20px;
	float: left; 
}
.fr{
	float: right;
}
.save-ship{
	color:#999;
}
.sn-price{
	color:#333;
	font-size: 12px;
}
.sn-price em{
	margin-left: 1px;
}
.cart-list{
	width: 100%;
}
.item{
    position: relative;
    margin-bottom: -1px;
    padding: 15px 20px;
    border: 1px solid #dfdfdf;
}
.item-main .td{
	height: 80px;
	float: left;
}
.item-main .td-chk{
	width: 47px;
	position:relative;
}
.td-item{
	width: 392px;
	position: relative;
	float: left;
	overflow:hidden; 
}
.item-pic{
	float: left;
    width: 80px;
    height: 80px;
    margin-right: 15px;
    background: #fff;
    overflow: hidden;
}
.item-pic a{
	display: block;
    position: relative;
    width: 78px;
    height: 78px;
    border: 1px solid #eee;
    overflow: hidden;
}
.item-pic img{
    display: block;
    width: 80px;
    height: 80px;
    margin: -1px 0 0 -1px;
}
.item-info{
	width: 239px;
	float: left;
	line-height: 16px;
}
.item-info a{
    display: block;
    margin-bottom: 2px;
    max-height: 36px;
    line-height: 18px;
    color: #333;
    font-size: 12px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
}
.item-service{
	width:265px;
	float: left;
}
.item-service span{
	display: block;
	height: 14px;
    width: 14px;
    margin: 0 2px;
    background: url(../img/lion-cart.png) no-repeat -132px -166px;;
    float: left;
}
.td-price{
    margin-left: 136px;
	width: 106px;
	text-align: right;
	float: left;
}
.price-now{
	font-size: 14px;
}
.price-now em{
	height: 27px;
}
.icon-promo-price{
	font-size: 12px;
    padding: 2px 5px;
    margin: 0px -18px 0;
    background: #f60;
    border-radius: 2px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    display: inline-block;
}
.td-amount{
	width: 177px;
	position: relative;
	text-align: center;
}
.item-amount{
	padding-left: 99px;
	width: 80px;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	text-align: center;
}
.minus{
	display: block;
	float: left;
    width: 22px;
    height: 22px;
    background-color: #f1f1f1;
    line-height: 22px;
    border:0;
    outline: none;
}
.text-amount{
	float: left;
    width: 26px;
    padding: 3px 0;
    border-width: 1px 0;
    color: #666;
    height: 14px;
    border: 1px solid #CCC;
    line-height: 14px;
    text-align: center;
}
.plus{
    float: left;
    width: 22px;
    height: 22px;
    background-color: #f1f1f1;
    line-height: 18px;
    margin-right: -3px;
 	border:0;
    outline: none;
}
.td-sum{
	margin-left: 47px;
	width: 126px;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
.td-sum span{
	font-size: 14px;
	font-weight: 700;
}
.td-op{
	height: 80px;
	float: right;
	padding-left: 15px;
	width: 66px;
	text-align: left;
}
.td-op a{
	display:inline-block;
	color:#666;
	font-size: 12px;
}
.hide{
	width: 100%;
	overflow: hidden;
    margin-top: 10px;
}
.simill{
	float: left;
}
.icon-down{
	float: right;
}
/*脚部*/
.ng-footer{
	margin-top: 10px;
}
.ng-ser-box{
	width: 100%;
	min-width: 1190px;
	background-color: #f5f5f5;
	border-top:1px solid #e7e7e7;
}
.ng-ser-con{
	width: 1190px;
	margin:0 auto;
	overflow:hidden;
}
.ng-promise{
	width: 1250px;
	padding:12px 0;
	height: 73px;
	border-bottom: 1px solid #eaeaea;
}
.ng-promise dl{
	width: 250px;
	float: left;
	overflow:hidden;
}
.ng-promise dl dt{
	float: left;
	width: 48px;
	height: 48px;
	margin-right:8px;
}
.ng-promise dl dt img{
	display: block;
	width:48px;
	height: 48px;
}
.ng-promise dd{
	width: 180px;
	float: left;
	height: 48px;
}
.ng-promise dd p{
	line-height: 24px;
	width: 100%;
	color:#545454;
}
.ng-promise dd p strong{
	font-weight: bold;
	color:#222;
	font-size: 14px;
}
.ng-help-box{
	width:1050px;
	float: left;
	height:180px;
}
.ng-help-box dl{
	width: 210px;
	float:left;
	height: 160px;
}
.ng-help-box dl dt{
	width: 100%;
	height: 35px;
	line-height: 40px;
	font-weight: 400;
	font-size: 14px;
	overflow:hidden;
}
.ng-help-box dl dd{
	width: 100%;
	line-height: 22px;
}
.ng-help-box dl dd a{
	color:#545454;
	font-size: 12px;
}
.ng-help-box dl dd a:hover{
	color:#f60;
}
.ng-app-down{
	float: left;
	height: 180px;
	width: 90px;
}
.ng-app-down p{
	width: 100%;
	height: 35px;
	line-height: 40px;
	color:#545454;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 5px;
	overflow:hidden;
}
.ng-app-down a{
	color:#333;
	font-size: 12px;
}
.ng-app-down a:hover{
	color:#f60;
}
.ng-s-footer{
	width: 100%;
	min-width: 1190px;
	background: #fff;
	padding-top:15px;
	text-align: center;
}
.ng-s-f-con{
	width: 1190px;
	height: 160px;
	min-width: 1190px;
	margin:0 auto;
}
.ng-url-list{
	height: 25px;
	line-height: 25px;
}
.ng-url-list a{
	color:#666;
	font-size: 12px;
}
.ng-url-list span{
	display:inline-block;
	color:#888;
	padding:0 8px;
}
.ng-copyright{
	width: 1190px;
	float: left;
	height: 25px;
	line-height: 25px;
	color:#999;
	font-size: 12px;
}
.ng-aut{
	width: 1190px;
	float: left;
	height: 25px;
	line-height: 25px;
	margin-top:5px;
	text-align: center;
}
.ng-aut a{
	display: inline-block;
	margin-right: 8px;
}
.ng-aut a img{
	height: 24px;
	width: 76px;
}
.cart-toolbar-box{
	margin-top: 30px;
}
.cart-rel{
	position: relative;
	width: 1190px;
	margin:0 auto;
	height: 58px;
	line-height: 58px;
	border:1px solid #ddd;
}
.l-columnt{
	float: left;
}
.cart-checkbox-l{
    position: relative;
    width: auto;
    float: left;
    margin: 2px 10px 0;
    font-size: 12px;
    color:#666;
}
.cart-checkbox-l span{
	margin-left: 7px;
	display: inline-block;
}
.del{
	margin
	display: inline-block;
	color:#666;
	margin-left: 20px;
	font-size: 12px;
}
.r-columnt{
	float: right;
}
.cart-collect{
	text-align: right;
}
.cart-total{
	float: right;
	line-height: 22px;
}
.split{
    float: left;
    width: 1px;
    height: 38px;
    margin-top: 12px;
    margin-right: 16px;
    font-size: 0;
    background: #ddd;
}
.sn-sum-price{
	position: relative;
	float: left;
	margin-right: 20px;
}
.cart-sum-price{
    padding-top: 6px;
    width: 232px;
    text-align: center;
    margin-right: -4px;
}
.cart-sum-price span{
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
	list-style: 22px;
}
.sn-price{
	vertical-align: middle;
	font-weight: 400;
	color:#f60;
}
.sn-price i{
	font-size: 14px;
}
.sn-price em{
	font-size: 14px;
	margin-left: 1px;
}
.hide{
	display: none;
}
.cart-extra-price{
	color: #999;
	margin-top: -14px;
	font-size: 12px;
}
.pc i{
	color:#f60;
	font-size: 23px;
}
.pc em{
	color:#f60;
	font-size: 18px;
}
.cart-checkout{
	position: relative;
}
.checkout{
    position: relative;
    display: block;
    width: 120px;
    height: 60px;
    line-height: 60px;
    margin-top: -1px;
    margin-right: -1px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #bbb;
    cursor: not-allowed;
}
.save-ship{
	position: relative;
	overflow: visible;
	color:#999;
}
.selected-prods{
	margin-top: 6px;
}
.cart-sub{
	margin-right: 20px;
	line-height: 22px;
	font-size: 12px;
	float: right;
}
.r{
	float: right;
}
.alchose{
	display: inline;
	float: left;
	margin-top: 0;
	line-height: 22px;
	margin-right: 20px;
	cursor: pointer;
	font-size: 12px;
}
.alchose-up{
	display: inline-block;
    width: 10px;
    height: 12px;
    background: url(../img/lion-cart.png) no-repeat -11px -108px;
    margin-left: 5px;
}