.content{
	margin:0 auto ;
}
.shopingcart-total {
    font-size: 18px;
    color: #ea3c1f;
    margin: 0px 0 15px;
}
.shopingcart-main {
    margin-bottom: 30px;
}.shopingcart-thead {
    position: relative;
    display: block;
    padding: 5px 0;
    height: 40px;
    line-height: 40px;
    background-color: #F5F4F5;
    border: 1px solid #E5E5E5;
}.shopingcart-thead-box {
    float: left;
}.shopingcart-thead-checkbox {
    padding-left: 10px;
    width: 110px;
}.shopingcart-thead-checkbox input[type=checkbox] {
    margin-right: 5px;
    vertical-align: middle;
}.shopingcart-thead-checkbox span {
    vertical-align: middle;
}.shopingcart-thead-goods {
    width: 500px;
    text-align: center;
}.shopingcart-thead-price {
    width: 130px;
    text-align: center;
}.shopingcart-thead-quantity {
    width: 166px;
    text-align: center;
}.shopingcart-thead-sum {
    width: 144px;
    text-align: center;
}.shopingcart-thead-action {
    width: 100px;
    text-align: center;
}.shopingcart-shop {
    height: 34px;
    line-height: 34px;
    padding: 5px 0 5px 11px;
}.shopingcart-shop-box {
    float: left;
}.shopingcart-shop-info {
    margin-right: 20px;
    min-width: 180px;
}.shopingcart-shop-checkbox input[type=checkbox] {
    margin-right: 5px;
    vertical-align: middle;
}.shopingcart-shop-im {
    line-height: 34px;
}.shopingcart-shop-im img {
    vertical-align: middle;
}
.shopingcart-itemlist-item {
    position: relative;
    padding: 10px 10px 10px 44px;
    border: 1px solid #E7E7E7;
    margin-top: -1px;
    background-color: #fff;
    min-height: 140px;
}.shopingcart-itemlist-checkbox {
    position: absolute;
    left: 10px;
    top: 80px;
}.shopingcart-itemlist-box {
    float: left;
}.shopingcart-itemlist-goods {
    width: 550px;
    margin-right: 30px;
}.shopingcart-itemlist-link {
    display: block;
    min-height: 168px;
}.shopingcart-itemlist-img {
    position: relative;
    float: left;
    margin-right: 20px;
}.shopingcart-itemlist-info {
    padding-top: 39px;
    line-height: 26px;
}.icon-type {
    background-image: url(//x.autoimg.cn/mall/2015/pc/images/icon-type-new-a8a82.png);
}.icon-type-21 {
    background-position: -40px -160px;
    height: 30px;
    width: 42px;
}.shopingcart-itemlist-img .icon-type {
    position: absolute;
    right: 0;
    top: 0;
}.shopingcart-itemlist-img img {
    width: 224px;
}.shopingcart-itemlist-msg {
    color: #7f868c;
}.shopingcart-itemlist-loc {
    color: #7f868c;
}.shopingcart-itemlist-msg-box {
    display: inline-block;
    white-space: nowrap;
    margin-right: 6px;
}.shopingcart-itemlist-price {
    padding-top: 80px;
    width: 130px;
    text-align: center;
}.shopingcart-itemlist-quantity {
    padding-top: 70px;
    width: 160px;
    text-align: center;
}.quantity-form {
    margin-left: 25px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    width: 108px;
}.quantity-txt {
    text-align: center;
    margin-top: 4px;
    line-height: 26px;
    color: #ec3910;
}.decrement, .increment {
    width: 20px;
    text-align: center;
    height: 26px;
    line-height: 26px;
    border: 1px solid #d3d3d3;
}.decrement {
    float: left;
    border-right: 0;
}input[type=text] {
    border: 1px solid #d3d3d3;
    height: 20px;
    padding: 10px;
}.quantity-form input[type=text] {
    position: absolute;
    left: 21px;
    top: 0;
    width: 68px;
    padding: 0;
    height: 28px;
    line-height: 26px;
    box-sizing: border-box;
    text-align: center;
}.increment {
    float: right;
    border-left: 0;
}.shopingcart-itemlist-sum {
    padding-top: 80px;
    width: 160px;
    text-align: center;
}.shopingcart-itemlist-action {
    padding-top: 80px;
    width: 80px;
    text-align: center;
}.shopingcart-itemlist-action a {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}.shopingcart-bar {
    width: 1170px;
    position: relative;
    margin-bottom: 30px;
}.shopingcart-bar-wrap {
    height: 70px;
    overflow: hidden;
    background: #e5e5e5;
}.shopingcart-bar-box {
    float: left;
    height: 70px;
    line-height: 70px;
}.shopingcart-bar-select {
    height: 70px;
    line-height: 70px;
    padding-left: 10px;
    padding-right: 5px;
    vertical-align: middle;
}.shopingcart-bar-select input[type=checkbox] {
    cursor: pointer;
    vertical-align: middle;
}.shopingcart-bar-action {
    height: 70px;
    line-height: 70px;
}.shopingcart-bar-action a {
    display: block;
    padding: 0 20px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}.fn-clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}.shopingcart-bar-right {
    float: right;
}.shopingcart-bar-amount {
    padding-right: 50px;
}.shopingcart-bar-price {
    padding-right: 36px;
}.shopingcart-bar-btn {
    display: block;
    width: 180px;
    text-align: center;
    color: #fff;
    background-color: #EC3910;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}.shopingcart-bar-amount em {
    color: #ec3910;
}.shopingcart-bar-price strong {
    color: #ec3910;
    font-size: 22px;
    font-weight: 700;
}